{% extends "base.html" %}

{% block content %}
<div class="grid-container">
    {% for rpg_setting in rpg_settings %}
        <div class="grid-item">
            {% if rpg_setting.image %}
            <div class="div_image">
                <a href="{% url 'lib_app:books' rpg_setting.id %}">
                    <img src="{{ rpg_setting.image.url }}" alt="{{ rpg_setting.name }}" width="400" height="240">
                </a>
            </div>
            {% else %}
                <div class="div_image">
                    <p>No image available for this setting.</p>
                </div>
            {% endif %}
        </div>
    {% endfor %}
        <div class="grid-item">
        <a href="{% url 'lib_app:new_rpg_setting'%}">
            <div class="div_image">
                <h6><i class="bi bi-plus-circle"></i></h6>
            </div>
        </a>
    </div>
</div>
{% endblock content %}
